html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.top_header{
    float: left;
    width: 100%;
    height: 124px;
    background-color: #FFF;
}
.top_header .header_wp{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 990px;
    width: auto;
    height: 100%;
}
.top_header .header_wp .logo_wp{
    float: left;
    width: 211px;
    height: 100%;
}
.logo{
    background-image: url("../imgs/logo.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: left;
    width: 211px;
    height: 71px;
    margin-top: 18px;
    margin-left: 11px;
}
.top_header .header_wp .menu_wp{
    float: right;
    width: 700px;
    height: 130px;
}
.top_header .header_wp .menu_wp .profile_section{
    float: right;
    width: auto;
    min-width: 100px;
    height: 60px;
}
.top_header .header_wp .menu_wp .profile_section .profile_btn{
    float: left;
    width: 230px;
    margin-top: 15px;
    height: 48px;
    background-color: #d65d00;
    border-radius: 5px;
    color: #FFF;
    font-family: Myup;
}
.top_header .header_wp .menu_wp .profile_section .profile_btn .icon{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background-color: #ee6700;
    cursor: pointer;
}
.top_header .header_wp .menu_wp .profile_section .profile_name{
    float: left;
    width: 150px;
    height: 48px;
    font-size: 12px;
    line-height: 50px;
    padding-left: 5px;
    cursor: default;
    text-align: center;
}
.top_header .header_wp .menu_wp .profile_section .dropIcon{
    float: left;
    width: 17px;
    height: 58px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
}
.top_header .header_wp .menu_wp .profile_section .profie_dropDown{
    position: absolute;
    top: 63px;
    width: 250px;
    height: auto;
    background-color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-left: -5px;
}
.top_header .header_wp .menu_wp .profile_section .profie_dropDown .item{
    float: left;
    width: 240px;
    height: 30px;
    padding-left: 15px;
    font-family: Myup;
    font-size: 12.5px;
    color: #7c7c7c;
    line-height: 32px;
    cursor: pointer;
}
.top_header .header_wp .menu_wp .profile_section .profie_dropDown .item:hover{
    color: #ee6700;
}
.top_header .header_wp .menu_wp .profile_section .profie_dropDown line{
    float: left;
    width: 70px;
    height: 1px;
    background-color: #dfdfdf;
    display: inline-block;
    margin-left: 15px;
}
.top_header .header_wp .menu_wp .profile_section .bids_cnt{
    float: left;
    width: auto;
    height: 48px;
    border: 1px solid #f2f2f2;
    border-left: none;
    color: #555;
    margin-top: 15px;
    padding-left: 12px;
    font-family: Myup;
    font-size: 13px;
    line-height: 50px;
    font-weight: bold;
}
#bids_cnt{
    margin-right: 10px;
}
.top_header .header_wp .menu_wp .profile_section .bids_cnt span{
    float: right;
    margin-right: 15px;
    color: #FFFFFF;
    background-color: #10bb28;
    border-radius: 4px;
    height: 28px;
    line-height: 30px;
    font-size: 10px;
    padding: 0px 19px;
    margin-top: 10px;
    cursor: pointer;
}
.top_header .header_wp .menu_wp .profile_section .bids_cnt span:hover{
    opacity: 0.6;
}
.top_header .header_wp .menu_wp .profile_section .logOut{
    float: left;
    width: 110px;
    height: 48px;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #555;
    margin-top: 15px;
    padding-left: 15px;
    font-family: Myup;
    font-size: 13px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
}
.top_header .header_wp .menu_wp .profile_section .logOut:hover{
    color: #ee6700;
}
.top_header .header_wp .menu_wp .profile_section .logOut:hover #logOut_icon{
    background: url('../imgs/sprite.png') -286px 48px
}
.top_header .header_wp .menu_wp .menu{
    float: right;
    margin-top: 20px;
    width: auto;
    height: 40px;
}
.top_header .header_wp .menu_wp .menu .phone_wp{
    float: right;
    font-size: 12px;
    font-family: Myup;
    color: #a9a9a9;
    width: 165px;
    overflow: hidden;
}

#profile_icon{
    width: 25px;
    height: 25px;
    background: url('../imgs/sprite.png') 0 0;
    margin-left: 11px;
    margin-top: 12px;

}
#drowIcon{
    width: 17px;
    height: 12px;
    background: url('../imgs/sprite.png') -27px -22px;
    margin-top: 21px;
}
#logOut_icon{
    float: left;
    margin-top: -5px;
    width: 16px;
    height: 17px;
    background: url('../imgs/sprite.png') -264px 0;
    margin-top: 15px;
    margin-left: 6px;
}
#phone_icon{
    float: left;
    margin-top: -5px;
    width: 18px;
    height: 18px;
    background: url('../imgs/sprite.png') -26px 0;
    margin-top: 8px;
    margin-right: 10px;
}
#slideicon1{
    float: left;
    width: 36px;
    height: 33px;
    background: url('../imgs/sprite.png') -48px 0;
    margin-right: 10px;
    margin-top: -6px;
}
#slideicon2{
    float: left;
    width: 36px;
    height: 33px;
    background: url('../imgs/sprite.png') -87px 0;
    margin-right: 10px;
    margin-top: -6px;
}
#slideicon3{
    float: left;
    width: 36px;
    height: 33px;
    background: url('../imgs/sprite.png') -126px 0;
    margin-right: 10px;
    margin-top: -6px;
}
#searchBTN{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../imgs/sprite.png') -243px 0;
    margin-top: 12px;
    margin-left: 15px;
}
#liveAuction{
    float: left;
    width: 17px;
    height: 17px;
    background: url('../imgs/sprite.png') -55px 36px;
    margin-top: 1px;
}
#howTo{
    float: left;
    width: 10px;
    height: 16px;
    background: url('../imgs/sprite.png') 0 34px;
    margin-top: 4px;
}
#autoBid{
    width: 23px;
    height: 23px;
    background: url('../imgs/sprite.png') -196px 0;
    margin-top: 9px;
}
#buy{
    width: 23px;
    height: 23px;
    background: url('../imgs/sprite.png') -219px 0;
    margin-top: 12px;
}
#FautoBid {
    width: 23px;
    height: 23px;
    background: url('../imgs/sprite.png') -196px 0;
    margin-top: 11px;
}
#FBicon{
    width: 8px;
    height: 15px;
    background: url('../imgs/sprite.png') -13px 35px;
    margin-top: 9px;
}
#twicon{
    width: 16px;
    height: 13px;
    background: url('../imgs/sprite.png') -23px 35px;
    margin-top: 9px;
}
#gicon{
    width: 15px;
    height: 15px;
    background: url('../imgs/sprite.png') -39px 35px;
    margin-top: 9px;
}
.hideText{
    display: inline-block;
}
.mobilehide{
    display: block;
}
.mobileshow{
    display: none;
}
.tabletshow{
    display: none;
}
.header_wp .menu_slide_btc{
    display: none;
}
.header_wp .rMenu{
    display: none;
}

.slide_WP{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 990px;
    max-width: 1100px;
    height: 300px;
}
.slide_WP .slides{
    float: left;
    width: 100%;
    height: 100%;
}
.slide_WP .slides .lSlide_WP{
    padding-top: 40px;
    float: left;
    width: 28%;
    height: 230px;
    font-family: Myup;
    font-size: 14px;
    margin-left: 1%;
}
.slide_WP .slides .rSlide_WP{
    float: left;
    width: 60%;
    height: 100%;
    background-image: url("../imgs/slidebig.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    margin-left: 6%;
}
.slide_WP .slides .lSlide_WP .headline1{
    color: #565656;
    font-size: 28px;
    font-weight: bold;
}
.slide_WP .slides .lSlide_WP .headline2{
    color: #565656;
    font-size: 18px;
    font-weight: bold;
}
.slide_WP .slides .lSlide_WP .headLine3{
    color: #8c8c8c;
    font-size: 14px;
}
.contentFilter_WP{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 990px;
    height: auto;
    max-width: 1100px;
    font-family: Myup;
    margin-top: 5px;
}
.contentFilter_WP .CatFilter_WP{
    float: left;
    width: 24%;
    height: 62px;
    margin-left: 0.6%;
}
.contentFilter_WP .search_WP{
    float: left;
    margin-left: 1%;
    width: 74%;
    height: 62px;
}
.selectBtn{
    float: left;
    position: absolute;
    width: 809px;
    height: 42px;
    background-color: #E88538;
    color: #FFF;
    line-height: 46px;
    /* border-left: 1px solid #FFF; */
    cursor: pointer;
    padding-right: 19px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 1;
    margin-left: 266px;
}
#catRow{
    width: 17px;
    height: 12px;
    background: url('../imgs/sprite.png') -27px -22px;

}
.contentFilter_WP .CatFilter_WP .cats_WP{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background-color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 6px;
    box-shadow: 0 5px 20px -10px;

}
.contentFilter_WP .CatFilter_WP .cats_WP line{
    float: left;
    width: 70px;
    height: 1px;
    background-color: #dfdfdf;
    display: inline-block;
    margin-left: 20px;
}
.contentFilter_WP .CatFilter_WP .cats_WP .item{
    float: left;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    font-family: Myup;
    font-size: 12.5px;
    color: #7c7c7c;
    line-height: 32px;
    cursor: pointer;
}
.contentFilter_WP .CatFilter_WP .cats_WP .item:hover{
    color: #ee6700;
}
#searchInput{
    float: left;
    width: 74.6%;
    background-color: #FFF;
    height: 43px;
    /* border-radius: 6px; */
    border: none;
    border-bottom: 2px solid #E0E0E0;
    outline: none;
    font-size: 81%;
    color: #999;
    font-family: Mynormal;
    box-shadow: 0 0 20px -10px #000;
    /* padding-left: 14px; */
    padding-right: 1%;
    padding-left: 1%;
    font-family: Myup;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: 0.4%;
}
.searchBtn{
    float: left;
    width: 20%;
    height: 42px;
    background-color: #ee6700;
    border-radius: 6px;
    margin-left: -4px;
    cursor: pointer;
    line-height: 46px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}
.searchBtn:hover{
    background-color: #ff7a14;
}
.contentFilter_WP .liveAuction{
    float: left;
    width: 20%;
    height: 20px;
    /* border-radius: 6px; */
    border-bottom-left-radius: 6px;
    border: 1px solid #c9c9c9;
    color: #F5F5F5;
    font-size: 13px;
    padding: 10px 21px;
    margin-left: 0.6%;
    line-height: 23px;
    font-weight: bold;
    background-color: #797979;
    border-top-left-radius: 6px;
}
.contentFilter_WP .howto{
    float: right;
    width: auto;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
    color: #7c7c7c;
    font-size: 12px;
    padding: 5px 18px;
    margin-right: 6px;
    padding: 10px 21px;
    line-height: 24px;
}
.searchCatBTN, .Mcats_WP, .mcatsBTN{
    display: none;
}

/*content wrapper start*/
.content{
     margin-left: auto;
     margin-right: auto;
     width: auto;
     max-width: 1100px;
     min-width: 990px;
     height: auto;
     min-height: 200px;
     padding: 0;
     min-height: calc(100% - 342px);
 }
.SingleItem_WP{
    float: left;
    background: #FFF;
    width: 19%;
    height: 325px;
    margin-top: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: #FFF;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 0;
}
.SingleItem_WP:hover{
    z-index: 10;
}
.fakeItem{
    width: 207px;
    height: 10px;
    margin-top: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.SingleItem_WP .poster{
    float: left;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}
.SingleItem_WP .poster img{
    min-width: 100px;
    max-width: 220px;
    width: auto;
    height: auto;
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
}
.SingleItem_WP .title_WP{
    float: left;
    width: 100%;
    height: 38px;
    color: #828282;
    font-size: 16px;
    font-family: Mynormal;
    font-weight: bold;
}
.countdown_wp{
    float: left;
    width: 150px;
    height: 55px;
    margin-left: calc(50% - 75px);
}
.countdown_wp .blocks{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 2px solid #E6E6E6;
    line-height: 38px;
    font-family: Myup;
    color: #666666;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.countdown_wp .block_space{
    float: left;
    width: 15px;
    height: 36px;
    line-height: 38px;
    font-family: Myup;
    color: #666666;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.SingleItem_WP .Cost_WP{
    float: left;
    width: 88%;
    height: 42px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
    height: 40px;
}
.SingleItem_WP .Cost_WP .cost{
    float: left;
    width: 50%;
    height: 39px;
    padding-top: 5px;
    line-height: 16px;
    color: #8a8a8a;
    font-size: 9px;
    font-family: Myup;
}
.SingleItem_WP .Cost_WP .cost span{
    color: #ee6700;
    font-size: 18px;
}
.SingleItem_WP .Cost_WP .bid{
    float: left;
    width: 32%;
    height: 100%;
    background-color: #ee6700;
    font-family: Myup;
    color: #FFF;
    text-shadow: 1px 0 1px #444;
    font-size: 12px;
    line-height: 44px;
    cursor: pointer;
}
.SingleItem_WP .Cost_WP .autoBid{
    float: left;
    width: 18%;
    height: 100%;
    background-color: #108bbe;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.SingleItem_WP .Cost_WP .autoBid img{
    cursor: pointer;
}
.SingleItem_WP .lastBidder{
    float: left;
    width: 100%;
    height: 24px;
    font-family: Myup;
    color: #8a8a8a;
    font-size: 13px;
    margin-top: 9px;
    
}
.SingleItem_WP .lastBidder .lastwinnername{
    display: none;
}
.footer{
    float: left;
    width: 100%;
    height: 55px;
    margin-top: 40px;
}
.footer .lFooter{
    float: left;
    width: 25%;
    height: 100%;
    background-color: #FFF;
}
.footer .lFooter img{
    float: right;
    margin-right: 20px;
    margin-top: 1%;
}
.footer .rFooter{
    float: left;
    width: 75%;
    height: 100%;
}
.footer .rFooter .tfooter{
    float: left;
    width: 100%;
    height: 90%;
}
.footer .rFooter .dfooter{
    float: left;
    width: 100%;
    height: 10%;
    background-color: #535353;
}
.footer .rFooter .tfooter .ftsocial{
    float: left;
    width: 148px;
    height: 85%;
    padding: 4px;
    background-color: #ee6700;
}
.footer .rFooter .tfooter .ftsocial .icons{
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #f18533;
    margin-left: 11px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}
.footer .rFooter .tfooter .ftsocial .icons:hover{
    background-color: #f18533;
}
.footer .rFooter .tfooter  .copy{
    font-family: Myup;
    color: #8c8c8c;
    font-size: 12px;
    margin-top: 18px;
    margin-left: 16px;
    float: left;
}
.footer .rFooter .tfooter  .copy o{
    color: #EE6700;
}
.footer .rFooter .dfooter .menuItem{
    float: left;
    width: auto;
    height: 100%;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-left: 16px;
    line-height: 55px;
    font-family: Myup;
}
.footer .rFooter .dfooter .menuItem:hover{
    color: #EE6700;
}
.content_product{
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    min-width: 990px;
    min-height: 200px;
    width: auto;
    font-family: Mynormal;
    margin-top: 20px;
    min-height: calc(100% - 239px);
}
.content_product h1{
    color: #575757;
    font-size: 18px;
    margin-left: 24px;
}
.product_top{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 9px;
}
.product_top .mainBlock{
    float: left;
    width: 43%;
    height: 420px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 4px 20px -10px #333;
}
.product_top .mainBlock .bidsValue{
    float: right;
    position: absolute;
    background-color: #ea6153;
    color: #FFF;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    line-height: 30px;
    font-family: Myup;
    margin-left: 420px;
    margin-top: 62px;
    background: -webkit-linear-gradient(#F18000, #E93F00);
    background: -o-linear-gradient(#F18000, #E93F00);
    background: -moz-linear-gradient(#F18000, #E93F00);
    background: linear-gradient(#F18000, #E93F00);
    font-size: 13px;
    cursor: default;
    text-align: center;
}
.product_top .mainBlock .title{
    float: left;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    border-bottom: 1px solid #f2f2f2;
    font-family: Myup;
    line-height: 53px;
    font-size: 14px;
	overflow: hidden;
}
.product_top .mainBlock .title span{
    color: #EE6700;
}
.product_top .mainBlock .mainPposter{
    float: left;
    width: 90%;
    height: 250px;
    margin-top: 14px;
    margin-left: 5%;
    text-align: center;
}
.product_top .mainBlock .mainPposter img{
    max-width: 75%;
    max-height: 80%;
    cursor: zoom-in;
}

.product_top .mainBlock .screens{
    float: left;
    width: 74%;
    overflow: hidden;
    height: 100px;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
.product_top .mainBlock .MSlide{
    float: left;
    width: 12%;
    height: 100px;
}
.product_top .mainBlock .screens img{
    width: 22.5%;
    height: 100%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.content_product .modBlock{
    float: left;
    width: 26%;
    height: 270px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 4px 20px -10px #333;
    margin-left: 2%;
}
.content_product .autoBidGear{
    float: left;
    width: 53%;
    height: 120px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 4px 20px -10px #333;
    margin-left: 2%;
    margin-top: 20px;
    padding-top: 9px;
    padding-left: 1%;
}

.content_product .modBlock .countdown_wp{
    float: left;
    width: 150px;
    height: 45px;
    margin-left: 24%;
    margin-top: 10px;
}
.content_product .modBlock .countdown_wp .blocks{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 2px solid #E6E6E6;
    line-height: 38px;
    font-family: Myup;
    color: #666666;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}
.content_product .modBlock .countdown_wp .block_space{
    float: left;
    width: 15px;
    height: 36px;
    line-height: 38px;
    font-family: Myup;
    color: #666666;
    font-size: 19px;
    font-weight: bold;
}
.content_product .modBlock .midline{
    float: left;
    width: 90%;
    height: 1px;
    margin-left: 5%;
    margin-top: 5px;
    background-color: #F2F2F2;
}
.content_product .modBlock .Cost_WP{
    float: left;
    width: 240px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    margin-left: 8%;
    height: 45px;
    margin-top: 10px;
}
.content_product .modBlock .Cost_WP .cost{
    float: left;
    width: 45%;
    height: 39px;
    padding-top: 5px;
    line-height: 17px;
    color: #8a8a8a;
    font-size: 11px;
    font-family: Myup;
    text-align: center;
}
.content_product .modBlock .Cost_WP .cost span{
    color: #ee6700;
    font-size: 16px;
}
.content_product .modBlock .Cost_WP .bid{
    float: left;
    width: 38%;
    height: 100%;
    background-color: #ee6700;
    font-family: Myup;
    color: #FFF;
    text-shadow: 1px 0 1px #444;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}
.content_product .modBlock .Cost_WP .buy{
    float: left;
    width: 77px;
    height: 38px;
    background-color: #535353;
    border-left: 1px solid #cccccc;
    font-family: Myup;
    color: #FFF;
    text-shadow: 1px 0 1px #444;
    font-size: 12px;
    /* line-height: 60px; */
    cursor: pointer;
    text-align: center;
    padding-left: 13px;
    padding-top: 7px;
}
.content_product .modBlock .Cost_WP .autoBid{
    float: left;
    width: 17%;
    height: 100%;
    background-color: #108bbe;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}
.content_product .modBlock .Cost_WP .addcart{
    float: left;
    width: 40px;
    height: 100%;
    background-color: #535353;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-left: 1px solid #444444;
    text-align: center;
}
.content_product .modBlock .Cost_WP .howto{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #ee6700;
    border-radius: 100px;
    border: 3px solid #FFF;
    margin-left: 96px;
    z-index: 1;
    margin-top: 9px;
    text-align: center;
    color: #FFF;
    line-height: 24px;
    cursor: pointer;
}
.content_product .modBlock .Cost_WP .howto:hover{
    background-color: #ff8500;
}
.content_product .modBlock .Cost_WP .autoBid img{
    cursor: pointer;
}
.content_product .modBlock .lastBidder{
    float: left;
    width: 80%;
    height: auto;
    margin-left: 10%;
    color: #999;
    font-size: 14px;
    font-family: Myup;
    margin-top: 5px;
}
.content_product .modBlock .lastBidder span{
    color: #EE6700;
}
.content_product .modBlock .lastBidder img{
    float: right;
    width: 32px;
    height: 32px;
    margin-top: -15px;
}
.modBlock .tilltext{
    float: left;
    width: 100%;
    height: 25px;
    font-family: Myup;
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    color: #999;
}
.modBlock .endclass{
    height: 30px !important;
    color: #828282;
    font-size: 15px;
}
.modBlock .swicher{
    float: left;
    width: 90%;
    height: 26px;
    margin-left: 5%;
    margin-top: 8px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ececec;
}
.modBlock .swicher .button{
    float: left;
    width: auto;
    padding: 4px 8px;
    color: #999;
    font-size: 11px;
    font-family: Myup;
    cursor: pointer;
}
.modBlock .swicher .button:hover{
    border-bottom: 2px solid #ee6700;
}
.modBlock .swicher .active{
    border-bottom: 2px solid #ee6700;
}
.modBlock .contents{
    float: left;
    width: 90%;
    min-height: 100px;
    height: auto;
    max-height: 230px;
    margin-left: 5%;
    font-family: Mynormal;
    margin-top: 8px;
}
.modBlock .contents .tables{
    float: left;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
}
.modBlock .contents .item{
    float: left;
    width: 95%;
    height: 30px;
    color: #5c5c5c;
    font-size: 13px;
}
.modBlock .contents .item:nth-child(even){
    background-color: #f2f2f2;
}
.block1 {
    float: left;
    width: 70%;
    line-height: 30px;
    padding-left: 4%;
}
.block2 {
    float: left;
    width: 26%;
    line-height: 30px;
}
.content_product .autoBidGear h2{
    color: #999999;
}
.content_product .autoBidGear .autosec{
    float: left;
    width: 24%;
    margin-left: 1%;
    height: 70px;
    margin-top: 10px;
    font-family: Myup;
    font-size: 12px;
    color: #636363;

}
.content_product .autoBidGear .autosec .leftBidsCNT{
    float: right;
    margin-right: 9px;
    width: 100%;
    font-size: 11px;
    height: 50px;
    margin-top: -28px;
    text-align: center;
    opacity: 0;
}
.content_product .autoBidGear .autosec .leftBidsCNT span{
    color: #108BBE;font-size: 20px;
}
.content_product .autoBidGear .autosec input{
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 -3px 9px -5px #666666;
    width: 100px;
    height: 30px;
    padding-left: 6px;
    margin-top: 6px;
    outline: none;
}
.content_product .autoBidGear .autosec button{
    width: 90%;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: Myup;
    margin-top: -3px;

    cursor: pointer;
    outline: none;
}
.deactiveAutoBid{
    background-color: #EE6700;
}
.deactiveAutoBid:hover{
    background-color: #FA8027;
}
.activeautoBid{
    background-color: #108BBE;
}
.activeautoBid:hover{
    background-color: #FD4D4D;
}
.content_product .autoBidGear .autosec lari{
    font-size: 26px;
    color: #999;
    /* line-height: 40px; */
    margin-top: 8px;
    float: right;
    display: inline-block;
    margin-right: 15px;
}
.content_product .description{
    float: left;
    width: 99%;
    height: auto;
    min-height: 200px;
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 20px -10px #333;
}
.content_product .description .header{
    float: left;
    width: 98%;
    height: 40px;
    margin-left: 1%;
    border-bottom: 1px solid #ececec;
}
.content_product .description .header .button{
    float: left;
    width: auto;
    height: 30px;
    margin-top: 9px;
    font-size: 14px;
    color: #757575;
    font-family: Myup;
    cursor: pointer;
    padding: 0 8px;
    line-height: 30px;
    margin-left: 6px;
}
.content_product .description .header .active{
    border-bottom: 2px solid #ea6153;
    color: 000;
}
.content_product .description .header .button:hover{
    border-bottom: 2px solid #ea6153;
}
.content_product .description .description_cont{
    float: left;
    width: 96%;
    margin-left: 2%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;
}
.content_product .description .spec_cont{
    float: left;
    width: 96%;
    margin-left: 2%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;
    display: none;
}
.popupscreens{
    position: fixed;
    top: 100px;
    width: 600px;
    height: 70%;
    left: calc(50% - 300px);
    z-index: 11;
    text-align: center;
    display: none;
}
.popupscreens img{
    min-width: 300px;
    max-width: 600px;
    max-height: 500px;
    width: auto;
}
.top_header .header_wp .menu_wp .profile_section .register_WP{
    float: left;
    width: 125px;
    height: auto;
    background-color: #ea6153;
    color: #FFF;
    padding: 10px;
    font-family: Myup;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-right: 1px;
}
.top_header .header_wp .menu_wp .profile_section .register_WP:hover{
    background-color: #FA7365;
}
.top_header .header_wp .menu_wp .profile_section .register_WP .item{
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    /* text-align: left; */
}
.login_WP{
    z-index: 10;
    font-family: Myup;
    color: #a4a4a4;
    font-size: 12px;
    float: left;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    width: 283px;
    height: 250px;
    background-color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 11;
    border: 1px solid #e5e5e5;
    margin-top: 40px;
    display: none;
}
.login_WP h3{
    color: #6f6f6f;
}
.loginput{
    border: 1px solid #dcdcdc;
    width: 93%;
    height: 32px;
    border-radius: 5px;
    padding-left: 2%;
    font-family: Mynormal;
    outline: none;
}

.logsubmit{
    border: none;
    background-color: #ea6153;
    color: #FFF;
    font-family: Myup;
    font-size: 16px;
    padding: 6px 10px;
    float: right;
    margin-right: 5%;
    border-radius: 5px;
    margin-top: -7px;
    padding-top: 8px;
}



.login_WP_page{
    z-index: 10;
    font-family: Myup;
    color: #a4a4a4;
    font-size: 12px;
    float: left;
    position: absolute;
    padding-left: 0.5%;
    padding-top: 10px;
    width: 278px;
    height: 250px;
    background-color: #FFF;
    border-radius: 5px;
    z-index: 11;
    border: 1px solid #e5e5e5;
}
.login_WP_page h3{
    color: #6f6f6f;
}
.login_WP_page .loginput{
    border: 1px solid #dcdcdc;
    width: 93%;
    height: 32px;
    border-radius: 5px;
    padding-left: 2%;
    font-family: Mynormal;
    outline: none;
}
.login_WP_page .logsubmit{
    border: none;
    background-color: #ea6153;
    color: #FFF;
    font-family: Myup;
    font-size: 16px;
    padding: 6px 10px;
    float: right;
    margin-right: 5%;
    border-radius: 5px;
    margin-top: -7px;
    padding-top: 8px;
}
.page_content{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1100px;
    min-width: 990px;
    height: auto;
    min-height: 200px;
    padding: 20px 1%;
    margin-bottom: 20px;
}
.register_WP_page{
    float: right;
    width: 700px;
    height: auto;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 5px;
    font-family: Myup;
}
.register_WP_page h3{
    color: #6f6f6f;
}
.register_WP_page .loginput{
    border: 1px solid #dcdcdc;
    width: 90%;
    height: 36px;
    border-radius: 5px;
    padding-left: 2%;
    font-family: Mynormal;
    outline: none;
    margin-bottom: 10px;

}
.register_WP_page .logsubmit{
    border: none;
    background-color: #ea6153;
    color: #FFF;
    font-family: Myup;
    font-size: 16px;
    padding: 6px 10px;
    float: right;
    margin-right: 5%;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 8px;
}
.profile_wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 1024px;
    height: auto;
    min-height: calc(100% - 239px);
    margin-top: 20px;
    font-family: Myup;
}
.profile_wrapper .profile_container{
    float: left;
    width: 71%;
    height: auto;
    margin-left: 1%;
}
.profile_wrapper .profile_container .profile_WP{
    float: left;
    width: 99%;
    height: auto;
    min-height: 50px;
    background-color: #FFF;
    border-radius: 6px;
    padding-left: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 15px -10px;
    font-size: 13px;
    color: #919191;
}
.profile_wrapper .profile_container .profile_WP span{
    color: #4d4d4d;
}
.profile_wrapper .profile_container .profile_WP button{
    margin-left: 20px;
    width: 130px;
    height: 32px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-family: Myup;
    line-height: 34px;
    cursor: pointer;
}
td{
    vertical-align: top;
    padding-bottom: 10px;
}
.profile_wrapper .profile_Menu{
    float: left;
    width: 27%;
    margin-left: 1%;
    margin-top: -10px;
}
.profile_wrapper .profile_Menu .menu_item{
    float: left;
    width: 95%;
    height: 36px;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 0 5px 12px -10px;
    border-radius: 5px;
    color: #9f9f9f;
    font-size: 14px;
    line-height: 38px;
    margin-top: 10px;
    cursor: pointer;
}
.profile_wrapper .profile_Menu .menu_item:hover{
    color: #FFF;
    background-color: #ea6153;
}
.profile_wrapper .profile_Menu .menu_item:hover .icon{
    background-color: #FFF;
}
.profile_wrapper .profile_Menu .menu_item:hover #buyBids{
    background: url('../imgs/sprite.png') -92px 35px;
}
.profile_wrapper .profile_Menu .menu_item:hover #purchaseHistory{
    background: url('../imgs/sprite.png') -111px 35px;
}
.profile_wrapper .profile_Menu .menu_item:hover #wonAuction{
    background: url('../imgs/sprite.png') -128px 35px;
}
.profile_wrapper .profile_Menu .menu_item:hover #liveAuctions{
    background: url('../imgs/11.png');
}
.profile_wrapper .profile_Menu .menu_item:hover #historyAuctions{
    background: url('../imgs/33.png');
}
.profile_wrapper .profile_Menu .menu_item:hover #personalInfo{
    background: url('../imgs/sprite.png') -144px 37px;
}
.profile_wrapper .profile_Menu .menu_item:hover #help{
    background: url('../imgs/sprite.png') -160px 35px;
}
.profile_wrapper .profile_Menu .menu_item:hover #generalInfo{
    background: url('../imgs/sprite.png') -73px 34px;
}
.profile_wrapper .profile_Menu .active{
    background-color: #ea6153 !important;
    color: #FFF !important;
}
.profile_wrapper .profile_Menu .menu_item .icon{
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #ea6153;
    border-radius: 4px;
}
.profile_wrapper .profile_Menu .menu_item .active .icon{
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 4px;
}
#generalInfo{
    float: left;
    width: 16px;
    height: 10px;
    background: url('../imgs/sprite.png') -73px 34px;
    margin-top: 8px;
    margin-left: 4px;
}

.profile_wrapper .profile_Menu .menu_item_link .active .icon{
    background-color: #fff;
}

.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(1) .active .icon img{
    background: url('../imgs/sprite.png') -144px 37px !important;
}
.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(2) .active .icon img{
    background: url('../imgs/sprite.png') -92px 35px !important;
}
.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(3) .active .icon img{
    background: url('../imgs/11.png')!important;
}
.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(4) .active .icon img{
    background: url('../imgs/sprite.png') -128px 35px !important;
}
.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(5) .active .icon img{
    background: url('../imgs/sprite.png') -111px 35px !important;
}
.profile_wrapper .profile_Menu .menu_item_link:nth-of-type(6) .active .icon img{
    background: url('../imgs/33.png')!important;
}
#buyBids{
    float: left;
    width: 17px;
    height: 17px;
    background: url('../imgs/sprite.png') -92px 17px;
    margin-top: 6px;
    margin-left: 4px;
}
#purchaseHistory{
    float: left;
    width: 17px;
    height: 16px;
    background: url('../imgs/sprite.png') -111px 19px;
    margin-top: 5px;
    margin-left: 4px;
}
#wonAuction{
    float: left;
    width: 17px;
    height: 16px;
    background: url('../imgs/sprite.png') -128px 18px;
    margin-top: 5px;
    margin-left: 4px;
}
#liveAuctions{
    float: left;
    width: 17px;
    height: 16px;
    background: url('../imgs/22.png');
    margin-top: 5px;
    margin-left: 4px;
}
#historyAuctions{
    float: left;
    width: 16px;
    height: 18px;
    background: url('../imgs/44.png');
    margin-top: 4px;
    margin-left: 5px;
}
#personalInfo{
    float: left;
    width: 17px;
    height: 16px;
    background: url('../imgs/sprite.png') -144px 24px;
    margin-top: 5px;
    margin-left: 5px;
}
#help{
    float: left;
    width: 17px;
    height: 16px;
    background: url('../imgs/sprite.png') -160px 19px;
    margin-top: 6px;
    margin-left: 4px;
}
#buyBidsWP{
    float: left;
    width: 100%;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 5px 15px -10px;
    border-radius: 6px;
}
#buyBidsWP .bidsItem{
    float: left;
    width: 31.1%;
    height: 88%;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
#buyBidsWP .bidsItem:nth-of-type(3), #buyBidsWP .bidsItem:nth-of-type(6){
    border-right: none;
}
#buyBidsWP .bidsItem .packeticon{
    float: left;
    width: 100%;
    height: 108px;
}
#buyBidsWP .bidsItem .packeticon .buyBidsCNT{
    float: left;
    width: 100px;
    height: 100px;
    color: #FFF;
    margin-left: 3px;
    position: absolute;
    padding-top: 15px;
    display: none;
}
#buyBidsWP .bidsItem .packeticon img{
    height: 90px;
}
#buyBidsWP .bidsItem .buyBTN{
    float: left;
    width: 90%;
    margin-left: 5%;
    height: 32px;
}
#buyBidsWP .bidsItem .buyBTN .buyprice{
    float: left;
    width: 50%;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ea6153;
    line-height: 34px;
    color: #FFF;
}
#buyBidsWP .bidsItem .buyBTN .buyicon{
    float: left;
    width: 50%;
    height: 95%;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    margin-left: -2px;
    font-size: 13px;
    color: #5a5a5a;
    cursor: pointer;
    line-height: 34px;
}
#buyBidsWP .bidsItem .buyBTN .buyicon:hover{
    color: #ea6153;
}

#purchaseHistory_WP{
    float: left;
    width: 100%;
    height: auto;
    display: none;
}
#purchaseHistory_WP .purchaseItem{
    float: left;
    width: 30%;
    height: 270px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFF;
    box-shadow: 0 5px 15px -10px;
    border-radius: 5px;
    margin-left: 0.5%;
    margin-right: 0.8%;
    margin-bottom: 10px;
}
#purchaseHistory_WP .purchaseItem .poster{
    float: left;
    width: 100%;
    height: 120px;
    text-align: center;
}
#purchaseHistory_WP .purchaseItem .poster img{
    max-width: 180px;
    max-height: 120px;
}
#purchaseHistory_WP .purchaseItem .title{
    float: left;
    text-align: center;
    width: 96%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6px;
    color: #535353;
    font-size: 13px;
    margin-bottom: 10px;
}
#purchaseHistory_WP .purchaseItem .biders{
    float: left;
    text-align: center;
    width: 96%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6px;
    color: #b3b3b3;
    font-size: 11px;
    margin-bottom: 10px;
}
#purchaseHistory_WP .purchaseItem .biders span{
    color: #ea6153;
}
#purchaseHistory_WP .purchaseItem .price{
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 26px;
    height: 44px;
    border: 1px solid #e5e5e5;
    color: #b3b3b3;
    border-radius: 5px;
    line-height: 46px;
}
.bought{
    float: right;
    width: 32px;
    height: 32px;
    background-color: #4bcc0b;
    border-radius: 20px;
    position: absolute;
}
#bought{
    float: left;
    width: 32px;
    height: 25px;
    background: url('../imgs/sprite.png') -180px 35px;
    margin-top: 2px;
    margin-left: 5px;
}


#win_WP{
    float: left;
    width: 100%;
    min-height: 100px;
}
#win_WP .winItem {
    float: left;
    width: 30%;
    height: 315px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFF;
    box-shadow: 0 5px 15px -10px;
    border-radius: 5px;
    margin-left: 1.3%;
    margin-bottom: 10px;
}
#win_WP .winItem .poster{
    float: left;
    width: 100%;
    height: 120px;
    text-align: center;
}
#win_WP .winItem .poster img{
    max-width: 180px;
    max-height: 120px;
}
#win_WP .winItem .title{
    float: left;
    text-align: center;
    width: 96%;
    height: 26px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6px;
    color: #535353;
    font-size: 13px;
    margin-bottom: 10px;
}
#win_WP .winItem .biders{
    float: left;
    text-align: center;
    width: 96%;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6px;
    color: #b3b3b3;
    font-size: 11px;
    margin-bottom: 10px;
}
#win_WP .winItem .biders span{
    color: #ea6153;
}
#win_WP .winItem .price{
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 26px;
    height: 44px;
    border: 1px solid #e5e5e5;
    color: #b3b3b3;
    border-radius: 5px;
    line-height: 46px;
}
#win_WP .winItem .unpayed{
    font-size: 14px !important;
    color: #FFF;
    background-color: #ea6153;
}
#win_WP .winItem .unpayed:hover{
    opacity: 0.6;
    cursor: pointer;
}

#help_WP{
    float: left;
    width: 100%;
    height: auto;
    line-height: 12px;
}
#help_WP select{
    background-color: #FFF;
    width: 100%;
    height: 44px;
    color: #909090;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 20px -10px;
    padding-left: 1%;
    outline-color: #ea6153;
    font-family: Myup;
}
#help_WP textarea{
    float: left;
    background-color: #FFF;
    border-radius: 6px;
    border: none;
    resize: none;
    color: #909090;
    width: 98%;
    padding: 1%;
    height: 167px;
    outline-color: #ea6153;
    font-family: Mynormal;
    box-shadow: 0 5px 20px -10px;
}
#help_WP button{
    float: left;
    padding: 6px 16px;
    background-color: #ea6153;
    color: #FFF;
    font-family: Myup;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
#help_WP button:hover{
    background-color: #F68175;
    cursor: pointer;
}
#Profile_info_update{
    float: left;
    padding: 4%;
    width: 92% !important;
}
#Profile_info_update .loginput{
    width: 56%;
    margin-bottom: 10px;
    float: right;
}
.avatarchoose{
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    width: 43% !important;
    margin-top: 12px;
}
.avatarchoose:hover{
    background-color: #FFEDEB;
}
.chooseavatarthumb{
    float: right;
    background-size: 100% 100%;
    margin-right: 10px;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    margin-right: 28px;
}
#avatarChooseWP{
    position: fixed;
    z-index: 10;
    width: 358px;
    height: 260px;
    padding: 14px;
    border-radius: 8px;
    background-color: #FFF;
    overflow: hidden;
    overflow-y: auto;
    left: calc(50% - 174px);
    top: 150px;
    display: none;
}
#avatarChooseWP .avatarItem{
    float: left;
    width: 64px;
    height: 64px;
    background-color: #F2F2F2;
    margin: 3px;
    cursor: pointer;
    background-size: 100% 100%;
    border-radius: 5px;
}
#avatarChooseWP .avatarItem:hover{
    background-color: #FFEDEB;
}
.allAuctions{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.loadmore_WP{
    min-width: 1024px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 40px;
}
.loadmore_WP .loadnext{
    float: left;
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: #FFF;
    font-family: Myup;
    font-size: 14px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #797979;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.loadmore_WP .loadprew{
    float: left;
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: #FFF;
    font-family: Myup;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #797979;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loadmore_WP .loadnext:hover{
    background-color: #ea6153;
}
.loadmore_WP .loadprew:hover{
    background-color: #ea6153;
}
.loadmore_WP .inactive{
    opacity: 0.5;
}
.loadmore_WP .inactive:hover{
    background-color: #797979 !important;
    cursor: default !important;
}

/*static page*/
.staticContainer{
    min-width: 1024px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: calc(100% - 219px);
}
.staticContainer .slide{
    float: left;
    width: 100%;
    height: 350px;
    background-image: url("../imgs/headbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    position: relative;
    z-index: 0;
}
.staticContainer .headSlide {
    float: left;
    width: 100%;
    height: 350px;
    background-image: url("../imgs/headcontactbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    position: relative;
    z-index: 0;
}
.staticContainer .slide .faqicon, .staticContainer .headSlide .faqicon {
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.staticContainer .slide .faqheadline{
    float: left;
    width: 100%;
    height: 50px;
    font-family: Myup;
    color: #59595b;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}
.staticContainer .searchBlocks{
    float: left;
    width: 100%;
    height: 635px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.staticContainer .searchBlocks .blocks{
    float: left;
    margin: 1%;
    width: 23%;
    padding-top: 16px;
    height: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 20px -10px;
    background-position: 140px -40px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    border-radius: 6px;
}
.staticContainer .searchBlocks .blocks:nth-of-type(1){
    background-image: url("../imgs/buyblockicon.png");
}
.staticContainer .searchBlocks .blocks:nth-of-type(2){
    background-image: url("../imgs/questionblockicon.png");
}
.staticContainer .searchBlocks .blocks:nth-of-type(3){
    background-image: url("../imgs/videoblockicon.png");
}
.staticContainer .searchBlocks .blocks:nth-of-type(4){
    background-image: url("../imgs/personalblockicon.png");
}
.staticContainer h1{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    color: #464646;
    border-left: 3px solid #ea6153;
    font-family: Myup;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 4px;
}
.staticContainer .searchBlocks .blocks .blockitem{
    float: left;
    width: 85%;
    height: auto;
    color: #7f7f7f;
    font-family: Myup;
    font-size: 12px;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 5%;
    margin-top: 4px;
}
.staticContainer .searchBlocks .blocks .blockitem:hover{
    background-color: #ea6153;
    color: #FFF;
}
.staticContainer .searchBlocks .blocks .blockitem img{
    align: left;
}
.staticContainer .searchBlocks .blocks .blockitem ul{
    list-style: none;
}
.staticContainer .searchBlocks .blocks .blockitem ul > li{
    background: url('../imgs/arr0.png') no-repeat left center;
    padding: 5% 0px 4% 18px;
}
.staticContainer .searchBlocks .blocks .blockitem:hover ul > li{
    background: url('../imgs/arr1.png') no-repeat left center;
}
.staticContainer .faqContent{
    float: left;
    width: 98%;
    margin: 1%;
    background-color: #FFF;
    box-shadow: 0 5px 20px -10px;
    border-radius: 6px;
    padding-bottom: 20px;
    margin-top: 25px;
}
.staticContainer .faqContent div{
    display: none;
}
.staticContainer .faqContent .active{
    display: block!important;
}
.staticContainer .faqContent .cont{
    float: left;
    width: 100%;
    color: #7f7f7f;
}
.staticContainer .faqContent h2{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    color: #464646;
    border-left: 3px solid #ea6153;
    font-family: Myup;
    font-size: 14px;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.staticContainer .faqContent span{
    float: left;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Mynormal;
}
.staticContainer .searchBlocks .blocks .activeblockitem{
    background-color: #ea6153 !important;
    color: #FFF!important;
}
.staticContainer .searchBlocks .blocks .activeblockitem ul > li{
    background: url('../imgs/arr1.png') no-repeat left center !important;
}
.staticContainer .lSide{
    float: left;
    width: 25%;
    height: auto;
    min-width: 100px;
    margin-left: 0.5%;
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.staticContainer .contactinfo{
    float: left;
    width: 100%;
    height: 130px;
    background-color: #FFF;
    font-family: Myup;
    box-shadow: 0 5px 20px -10px;
    font-size: 12px;
    border-radius: 6px;
}
.staticContainer .contactinfo span{
    float: left;
    margin-left: 10px;
    color: #7f7f7f;
}
.staticContainer .map{
    float: left;
    width: 100%;
    height: 190px;
    margin-top: 10px;
    box-shadow: 0 5px 20px -10px;
    background-position: center center;
    border-radius: 6px;
}
.staticContainer .rSide{
    float: left;
    margin-left: 1%;
    width: 69%;
    height: auto;
    min-height: 100px;
    border-right: 6px;
    background-color: #FFF;
    box-shadow: 0 5px 20px -10px;
    padding: 2%;
    position: relative;
    z-index: 1;
    margin-top: -100px;
}
.staticContainer .rSide input{
    width: 45%;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-family: Mynormal;
    padding-left: 4%;
    outline-color: #ea6153;
}
.staticContainer .rSide textarea{
    width: 97%;
    height: 95px;
    border: 1px solid #e5e5e5;
    font-family: Mynormal;
    padding: 1%;
    outline-color: #ea6153;
}
.staticContainer .rSide input[type="submit"]{
    background-color: #ea6153;
    color: #FFF;
    font-family: Myup;
    padding: 8px 16px;
    height: 38px;
    width: auto!important;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}
.staticContainer .rSide input[type="submit"]:hover, .staticContainer .rSide input[type="submit"]:focus{
    background-color: #d65d00;
}
#name{
    background: url('../imgs/name.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 6px 9px;
}
#email{
    background: url('../imgs/email.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 6px 10px;
}
#title{
    background: url('../imgs/title.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 6px 12px;
}
.registerSucc{
    width: calc(96% + 5px);
    height: auto;
    margin-left: 1%;
    padding: 1%;
    background-color: #5EBD88;
    color: #FFF;
    font-family: Myup;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 18px;
    line-height: 16px;
}


.endAuction .SingleItem_WP{
    float: left;
    width: 19%;
    height: 280px;
    margin-top: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;

    position: relative;
    z-index: 0;
}
.endAuction .countdown_wp{
    display: none;
}

.endAuction  .SingleItem_WP .Cost_WP{
    float: left;
    width: 88%;
    height: 42px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
    height: 40px;
    background-color: #797979;
}
.endAuction .SingleItem_WP .Cost_WP .cost{
    float: left;
    width: 100%;
    height: 39px;
    padding-top: 5px;
    line-height: 14px;
    color: #FFF;
    font-size: 9px;
    font-family: Myup;
}
.endAuction .SingleItem_WP .Cost_WP .cost span{
    color: #FFF;
}

.endAuction .SingleItem_WP .Cost_WP .bid{
    display: none;
}
.endAuction .SingleItem_WP .Cost_WP .autoBid{
    display: none;
}
.SingleItem_WP .lastBidder{
    float: left;
    width: 100%;
    height: 24px;
    font-family: Myup;
    color: #8a8a8a;
    font-size: 13px;
    margin-top: 9px;
}
.bidsValue{
    float: right;
    position: absolute;
    background-color: #ea6153;
    color: #FFF;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    line-height: 30px;
    font-family: Myup;
    margin-left: 190px;
    margin-top: 15px;
    background: -webkit-linear-gradient(#F18000, #E93F00);
    background: -o-linear-gradient(#F18000, #E93F00);
    background: -moz-linear-gradient(#F18000, #E93F00);
    background: linear-gradient(#F18000, #E93F00);
    font-size: 13px;
    cursor: default;
}

.SingleItem_WP .bidsValue .x{
    font-size: 11px;
}
.endAuction .SingleItem_WP .lastBidder .lastwinnername{
    display: inline-block;
}
.help_faq{
    float: left;
    width: 98%;
    margin-left: 1%;
    height: auto;
    margin-top: 40px;
}
.help_faq .item_faq{
    float: left;
    width: 100%;
    height: auto;
    padding: 1px;
    padding-left: 0;
    line-height: 38px;
    color: #ea6153;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0 5px 20px -14px #000;
    cursor: pointer;
    margin-top: 8px;
}
.help_faq .item_faq span{
    border-left: 2px solid #ea6153;
    width: 99%;
    padding: 1%;
    color: #ea6153;
}
.help_faq .item_faq:hover span{
    border-left: 2px dotted #ea6153;
}
.help_faq .item_faq .fullThisFaq{
    float: left;
    width: 98%;
    padding-left: 2%;
    height: auto;
    color: #9f9f9f;
    line-height: 20px;
    font-size: 12px;
    display: none;
}
.lastprice{
    float: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #828282;
    color: #828282;
    border-radius: 6px;
    height: 40px;
    line-height: 42px;
    font-family: Myup;
    text-align: center;
}
.lastprice lari{
    font-size: 17px;
}
.winnerWP{
    float: left;
    width: 90%;
    margin-left: 5%;
    color: #919191;
    height: 40px;
    margin-top: 8px;
    line-height: 42px;
    font-family: Mynormal;
}
.winnerWP div{
    float: right;
    display: block;
    color: #828282;
    font-family: Myup;
}
#auctionInfo{
    display: none;
}
#delivery{
    display: none;
}
.errorMess{
    float: left;
    width: 100%;
    height: 40px;
    color: indianred;
    font-family: Myup;
}
.register_WP_page .lsection{
    float: left;
    width: 50%;
    height: auto;
}
.register_WP_page .rsection{
    float: right;
    width: 50%;
    height: auto;
}
.register_WP_page .singleItem{
    float: left;
    width: 100%;
    height: auto;
    padding: 1px 6px;
}